<!--dont forget include-->

<html>
<head>
    <link href="assets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>QUERY STRING VALUE: <%= qstr %></h1>
<h1>THE END POINT IS: <%= id %></h1>
<form action="/" method="POST">
    <input id="firstname" type="text" name="firstname"><br />
    <input id="lastname" type="text" name="lastname"><br />
    <input type="submit">
</form>
</body>
</html>